@font-face {
	font-family: 'nexa_boldregular';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: #fff;
	--background-color: #363dc2;
	--background-color-2: #282faf;
	--background-color-3: #202692;
	--link-color: #03b9f1;
	--link-hover-color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: #fff;
	color: var(--text-color);
	background-color: #363dc2;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-color);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 10px solid var(--background-color-2);
	border-left-color: var(--text-color);
	animation: loaderAnim 0.8s linear infinite forwards;
}

@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}

main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--link-color);
	outline: none;
}

a:hover,
a:focus {
	color: var(--link-hover-color);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Deco Shape */
.decoshape {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--background-color-3);
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	z-index: 100;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%; 
	grid-template-rows: auto auto 4em;
	grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
}

.content--fixed a {
	pointer-events: auto;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 150px 150px 150px 150px; 
	grid-template-rows: 150px 75px 75px;
	grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
}

.content--related {
	text-align: center;
	align-content: center;
	justify-content: center;
	padding: 0 2em;
	min-height: 600px;
	height: 100vh;
	font-size: 0.85em;
}

.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	width: 300px;
	height: 300px;
}

.content__title {
	grid-area: title;
	font-family: 'VT323', sans-serif;
	letter-spacing: -0.025em;
	font-size: 8em;
	line-height: 160px;
	margin: 0;
	text-transform: lowercase;
	z-index: 10;
	cursor: default;
}

.content__author {
	grid-area: author;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}

.info--title{
	font-family: 'VT323', sans-serif;
	font-size: 8em;
	margin: 0;
	letter-spacing: -0.025em;
	font-weight: 600;
}

.content__info {
	grid-column: 1 / 3;
}

.content__related-item {
	padding: 2em;
	transition: color 0.3s;
	box-shadow: 0 10px 0;
	border-radius: 10px;
	width: 150px;
	height: 110px;
	margin-top: 30px;
}

.content__related-item:nth-of-type(1){
	background-color: #1DA1F2;
	box-shadow: 0 10px 0 #136ca3;
	margin-right: 10px;
}

.content__related-item:nth-of-type(2){
	background-color: #7289DA;
	box-shadow: 0 10px 0 #4c5c94;
	margin-left: 10px;
}

.content__related-item:hover{
	color: #fff;
	box-shadow: none;
	margin-top: 40px;
}

.content__related-item .fab{
	font-size: 2rem;
}

.content__related-img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
	opacity: 1;
}

.content__related-title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

/* Different layouts */

/* Layout-1 */
.content--layout-1 img{
	z-index: 99;
}

/* layout-2 */
.content--layout-2 {
	grid-template-areas:	"... title title title"
							"desc desc ... author"
							"link link ... author";
}

.content--layout-2 .content__img {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.content--layout-2 .content__desc {
	text-align: right;
}

.content--layout-2 .content__link {
	justify-self: end;
}

.content--layout-2 .content__author {
	justify-self: end;
	align-self: start;
}

.content--layout-2 {
	grid-template-columns: 60% 10% 10%;
	grid-template-rows: 75px 75px 150px;
}

.content--layout-2 .content__desc {
	align-self: end;
	text-align: center;
}

.content--layout-2 .content__timeline i{
	padding: 0 50%;
	margin-top: 0.5em;
	margin-bottom: 1em;

}

.content--layout-2 img{
	width: 100px;
	height: 100px;
}

/* layout-3 */
.content--layout-3 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

/* layout-4 */

.content--layout-4 {
	grid-template-areas:	"title title title desc"
							"... author ... desc"
							"... author ... link";
	grid-template-columns: 25% 10% 10% 30%;
	grid-template-rows: 150px 0px 0px;
}

.content--layout-4 .content__img {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
	width: 100px;
	height: 100px;
}

.content--layout-4 .content__author {
	justify-self: start;
	align-self: start;
}

/* Header */
.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	z-index: 100;
	grid-area: header;
	align-self: start;
	justify-self: start;
}

.codrops-header__title {
	font-size: 1em;
	padding: 0.75em 0;
	margin: 0;
	font-weight: 500;
}

/* Demos */
.demos {
	grid-area: demos;
	align-self: end;
}

.demo {
	display: inline-block;
	position: relative;
	font-size: 0.85em;
	margin: 0 0.25em 0.5em 0;
	padding: 1em;
}

.demo .decoshape {
	display: none;
}

.demo--current {
	color: var(--link-hover-color);
	border-color: currentColor;
}

.demo--current .decoshape {
	display: block;
	z-index: -1;
}

/* Deco elements */
.deco {
	pointer-events: none;
}

.deco--title {
	grid-area: decotitle;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	align-self: end;
	justify-self: end;
}

.deco.deco--title.social a:nth-child(1){
	color: #1DA1F2;
	margin-bottom: 15px;
}

.deco.deco--title.social a:nth-child(2){
	color: #7289DA;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em 0 0;
    text-align: center;
    white-space: nowrap;
}

.codrops-icon {
	position: relative;
	display: inline-block;
	padding: 0.75em 0.75em 1em;
}

/* Demo themes */
.demo-2 {
	--background-color: #161519;
	--background-color-2: #342560;
	--background-color-3: #553e9a;
	--text-color: #fff;
	--link-color: #fff;
	--link-hover-color: #9585f1;
}

.demo-3 {
	--background-color: #56cccf;
	--background-color-2: #41e0e4;
	--background-color-3: #1747c0;
	--text-color: #fff;
	--link-color: #fff;
	--link-hover-color: #17b1b5;
}

.demo-3 .morph {
	fill: none;
	stroke-width: 12px;
	stroke: #22bcc0;
}

.pater {
	font-size: 0.65em;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 1.5em;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: var(--background-color-3);
	cursor: auto;
}

.pater,
.pater:hover {
	color: #fff;
}

.pater::after {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.7em;
	position: absolute;
	top: 0.35em;
	right: 0.5em;
	opacity: 0.5;
	letter-spacing: 0.085em;
}

.pater__deco {
	display: none;
}

.pater__img {
	display: inline-block;
	width: 100%;
	max-width: 160px;
	position: relative;
	margin: 0 1em 0 0;
}

.pater__title {
	display: inline-block;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-indent: -0.05em;
	margin: 0;
	position: relative;
	margin: 0.75em 0 0;
}

.pater__desc {
	display: none;
}

@media screen and (min-width: 50em) {
	.pater {
		text-align: right;
		top: 0;
		bottom: auto;
		width: auto;
		padding: 3em 1.5em 0 0;
		display: block;
		font-size: 0.85em;
		background: transparent;
	}
	.pater::after {
		top: 1.5em;
		right: 1.5em;
		left: auto;
		font-size: 0.85em;
	}
	.pater__title {
		display: block;
		margin: 0.75em 0;
	}
	.pater__desc {
		display: block;
		color: #fff;
		margin: 0;
		position: relative;
		width: 100%;
		max-width: 260px;
		pointer-events: none;
		opacity: 0;
		transform: translate3d(0,-10px,0);
		transition: opacity 0.3s, transform 0.3s;
	}
	.pater__img {
		max-width: 200px;
		width: auto;
		margin: 0;
	}
	.pater:hover .pater__desc {
		opacity: 1;
		transform: translate3d(0,0,0);
		transition-delay: 0.2s;
	}
	.pater__deco {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		fill: var(--background-color-3);
		transform: translate3d(100%,-100%,0) rotate3d(0,0,1,40deg) scale3d(1,0.2,1);
		transition: transform 0.5s ease-out;
	}
	.pater:hover .pater__deco {
		transform: translate3d(0,0,0) scale3d(1,1,1);
	}
}


@media screen and (max-width: 50em) {
	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}
	.codrops-header {
		align-items: center;
		flex-direction: column;
	}
	.deco--title {
		display: none;
	}
	.demos {
		text-align: center;
	}
}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		transform: scale3d(0.7,0.7,1);
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		transform: scale3d(0.6,0.6,1);
	}
	.content__author,
	.content__desc,
	.content__link {
		font-size: 1.35em;
	}
}

@media screen and (max-width: 28em) {
	.content--layout {
		transform: scale3d(0.5,0.5,1);
	}
}
